@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");
input,
input:active,
input:focus {
  padding: 1rem;
  outline: none;
  width: 100%;
  background-color: #f1f0f0;
  border: none;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.error {
  color: #f03c3c;
  margin: 1rem;
  font-weight: 300;
}

*,
*:active,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100vh;
  font-size: 62.5%;
  background-image: url(./loginbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  overflow: hidden;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.login {
  position: relative;
  height: 100vh;
  width: 100%;
}

.login_heading {
  text-align: center;
  margin: 4rem;
  color: white;
  font-size: 3.5rem;
  font-weight: 100;
}

.login_box {
  margin-top: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  width: 350px;
  -webkit-box-shadow: 1px 1px 15px 1px;
          box-shadow: 1px 1px 15px 1px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.login_box--heading {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  padding: 1rem;
}

.login_box--form {
  padding: 2rem;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.login_box--form--ep {
  font-size: .8rem;
  margin-bottom: .7rem;
  font-weight: 300;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.login_box--form--ep span {
  color: red;
  font-size: 1.5rem;
}

.login_box--form--email {
  margin-bottom: 2rem;
}

.login_box--form--pp {
  font-size: .8rem;
  margin-bottom: .7rem;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.login_box--form--pp span {
  color: red;
  font-size: 1.5rem;
}

.login_box--form--btn {
  background-color: #0044ff;
  margin-top: 2.5rem;
  font-size: 1rem;
  width: 150px;
  padding: .5rem;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: 300;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.login_box--form--btn:hover {
  text-align: center;
  -webkit-box-shadow: 1px 2px 15px 2px #3b3b3b;
          box-shadow: 1px 2px 15px 2px #3b3b3b;
}

.login_box--form--btn:focus, .login_box--form--btn:active {
  text-align: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-shadow: 0px 1px 5px 1px #3b3b3b;
          box-shadow: 0px 1px 5px 1px #3b3b3b;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
  }
  .login_heading {
    font-size: 2rem;
  }
  .login_box {
    width: 90%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .login_box {
    width: 80%;
    margin-top: -2rem;
  }
  .login_box--form--ep,
  .login_box--form--pp {
    font-size: 1.1rem;
  }
  .login_box--form--btn {
    padding: 1rem;
    width: 40%;
  }
  .error {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  input {
    font-size: 1.3rem;
  }
  .login_heading {
    margin-top: 10rem;
  }
  .login_box {
    width: 80%;
    margin-top: -2rem;
  }
  .login_box--heading {
    font-size: 4rem;
  }
  .login_box--form--ep,
  .login_box--form--pp {
    font-size: 1.5rem;
  }
  .login_box--form--btn {
    padding: 1rem;
    width: 40%;
    font-size: 2rem;
  }
  .error {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .login_heading {
    font-size: 2rem;
    margin: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */